<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/stylesheets/global.css">
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/start.css">
    <title>Cactusbooks - POC</title>
</head>
<body>
    <main>
        <h1 class="center">Cactusbooks - POC (Proof of Concept)</h1>
        <div class="main-container">
            <h2>Cactusbooks: START CODE</h2>

            <div class="code">
                <span class="nums"><%= code[0] %></span>
                <span class="nums"><%= code[1] %></span>
                <span class="nums"><%= code[2] %></span>
                <span class="nums"><%= code[3] %></span>
                <span>-</span>
                <span class="nums"><%= code[4] %></span>
                <span class="nums"><%= code[5] %></span>
                <span class="nums"><%= code[6] %></span>
                <span class="nums"><%= code[7] %></span>
            </div>
            <br>
            <table>
                <thead>
                  <tr>
                    <th>Students</th>
                    <th>Email</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>